# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea/*
!.idea/scopes

# gradle
build
.gradle

# other
eclipse
run
runs
/.vscode/launch.json
/neoforge/.eclipse/configurations/NeoForge Client (
/neoforge/.eclipse/configurations/NeoForge Data (
/neoforge/.eclipse/configurations/NeoForge Server (
/.vscode/settings.json
/curios_api_javap.txt
/curios_curio_stack_handler_javap.txt
/curios_entity_manager_javap.txt
/curios_slot_manager_javap.txt
/.aiignore

# mkdocs
/site/
/.venv/
